# don't check-in secrets
.env
.idea/workspace.xml
.idea/tasks.xml

# python files
__pycache__

# General
.DS_Store

# don't check-in data
data

# don't check-in model
model_save
model_save_64_max_len_4_epochs_32_batch

